html {
    background-color: #020202;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
}
#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer div {
    color: #aaa;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    width: 360px;
}

@media only screen and (min-width: 1080px) and (min-height: 500px) {
    #footer {
        position: fixed;
        bottom: 20px;
        left: 5%; // This helps in Safari
    right: 5%;
        flex-direction: row;
    }
    #footer div {
        width: auto;
    }
}

svg {
    fill: none;
    stroke-width: 20px;
}

.marker {
    stroke-width: 40px;
}

text {
    font-size: 90px;
    stroke-width: 5px;
    user-select: none;
}
.label {
    font-size: 25px;
    stroke-width: 0;
}
